.circles {
  background-color: #ECF0F1;
  display: inline-block;
  border-radius: 50%;
}

.palette-0 {
  background-color: #ECF0F1;
  display: inline-block;
}

.palette-1 {
  background-color: #2ECC71;
  display: inline-block;
}

.palette-2 {
  background-color: #3498DB;
  display: inline-block;
}

.palette-3 {
  background-color: #F1C40F;
  display: inline-block;
}

.palette-4 {
  background-color: #E74C3C;
  display: inline-block;
}

.palette-5 {
  background-color: #2C3E50;
  display: inline-block;
}

.row {
  margin-top: -2px;
  margin-bottom: -2px;
  width: 1000px;
  margin-right: 0px;
}

.colorPalette {
  position: fixed;
  top: 12%;
  right: 8%;
}

.colors {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  border: 2px white solid;
}


body {
  width: 100%;
  font-family: 'Raleway Dots', cursive;
}

h1 {
  font-size: 3em;
  margin-left: 2%;
  color: #7F8C8D;
}

.canvas {
  margin: 2%;
  margin-top: -2%;
}




/*get rid of pull the objects off the page*/
body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}